

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Rubik&display=swap');


*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0; 
}

.header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-image: url("./images/pattern-bg-desktop.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
}


.app-name{
    color: white;
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    margin: 3vh;
}


.app-input{
    text-align: center;
}

#search-bar{
    width: 30vw;
    border-style: none;
    padding: 15px 20px;
    margin: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 300;
}

#submit-btn{
    background-color: black;
    margin: 0px;
    padding: 13px 20px;
    padding-bottom: 15px;
    padding-top: 14px;
    border-style: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

#submit-btn:hover{
    background-color: rgb(40, 39, 39);
}
input:focus{
    outline: none;
}

.user-info{
    display: flex;
    flex-direction: row;
    width: 80vw;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    margin: 5vh;
    color: white;
    padding-bottom: 2vh;
    flex-wrap: wrap ;
}

.user-info-name{
    color: white;
}

.user-info-box{
    padding-right: 10px;
    margin-top: 20px;
    height: 10vh;
    text-align: left;
    flex: 1; 
    flex-wrap: wrap;
}

.user-info-name{
    margin-left: 25px;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 2px;
}

.user-info-value{
    margin-left: 25px;
    margin-top: 8px;
    font-weight: bolder;
    font-size: larger;
}

header{
    display: grid;
    place-items: center;
}