

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Rubik&display=swap');


*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}


body{
    overflow-x: hidden;
}
.header{
    display: grid;
    place-items: center;
    width: 100vw;
    height: auto;
    background-image: url("./images/pattern-bg-desktop.png");
    background-size: cover;
}

.app{
    margin-top: 10vh;
}

.app-name{
    color: white;
    text-align: center;
    font-size: 2.3em;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 40px;
}

.app-input{
    text-align: center;
}

#search-bar{
    width: 30vw;
    border-style: none;
    padding: 15px 20px;
    margin: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 300;
    margin-bottom: 3vh;
}


#submit-btn{
    background-color: black;
    margin: 0px;
    padding: 13px 20px;
    padding-bottom: 15px;
    padding-top: 14px;
    border-style: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}


#submit-btn:hover{
    background-color: rgb(40, 39, 39);
}
input:focus{
    outline: none;
}

.user-info{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 60vw;
    margin: auto;
    padding-bottom: 2vw;
    margin-top: 3vw;
    border-radius: 10px;    
    overflow-wrap: normal;
    box-shadow: 1px 1px 5px rgb(104, 103, 103);
    z-index: 1;
    position: relative;
    bottom: -5vw;
    flex-wrap: wrap;
}




.user-info-box:last-child{
    border-right: none;
}
.user-info-box{
    border-right: 1px solid rgb(86, 86, 86);
    padding-right: 10px;
    margin-top: 20px;
    height: 10vh;
    text-align: left;
    flex: 1; 
}


.user-info-name{
    margin-left: 25px;
    font-weight: 700;
    font-size: 10px;
    color: rgb(104, 104, 104);
    letter-spacing: 2px;
}

.user-info-value{
    margin-left: 25px;
    margin-top: 8px;
    font-weight: bolder;
    font-size: larger;
}

#map{
    height: 60vh;
    z-index: 0;
}

@media screen and (max-width: 1080px){
    .user-info-box:nth-child(3){
        border-right: none;
    }
}

@media screen and (max-width: 920px){
    .user-info-box:nth-child(2){
        border-right: none;
    }
    .user-info-box:nth-child(3){
        border-right: 1px solid rgb(86, 86, 86);
    }
    .user-info{
        bottom: -20vw;
    }
    #search-bar{
        width: 70vw;
    }
}

@media screen and (max-width: 530px){
    .user-info-box{
        border: none;
    }
    .user-info-box:nth-child(3){
        border-right: none;
    }
    .user-info{
        bottom: -25vw;
    }

}

