

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Rubik&display=swap');


*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
    background-image: url(../images/pattern-bg-desktop.png);
    background-position: center;
    background-size: cover;
}
.app-name{
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 40px;
}
.app-input{
    text-align: center;
}

#search-bar{
    width: 30vw;
    border-style: none;
    padding: 15px 20px;
    margin: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 300;
}

#submit-btn{
    background-color: black;
    margin: 0px;
    padding: 13px 20px;
    padding-bottom: 15px;
    padding-top: 14px;
    border-style: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
#submit-btn:hover{
    background-color: rgb(40, 39, 39);
}
input:focus{
    outline: none;
}

.user-info{
    display: flex;
    justify-content: space-between;
    size: 50px;
    background-color: white;
    margin: 40px 350px;
    padding-bottom: 200px;
    border-radius: 10px;
    overflow-wrap: normal;
}

.user-info-box:first-child{
    border-left: none;
}
.user-info-box:last-child{
    border-right: none;
}
.user-info-box{
    border-right: 1px solid rgb(86, 86, 86);
    padding-right: 10px;
    margin-top: 20px;
    height: 10vh;
    text-align: left;
    flex: 1; 
}

.user-info-name{
    margin-left: 20px;
    font-weight: 700;
    font-size: 12px;
    color: rgb(104, 104, 104);
    letter-spacing: 2px;
}

.user-info-value{
    margin-left: 20px;
    margin-top: 8px;
    font-weight: bolder;
    font-size: larger;
}

