

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Rubik&display=swap');


*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
    background-image: url(./images/pattern-bg-desktop.png);
    background-size: cover;
}
@media screen and (max-width: 600px) {
    .header{
        width: 200vw;
        height: 70vh;
        align-items: center;
        background-size: cover;
    }
}
.app-name{
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 40px;
}
@media screen and (max-width: 600px){
    .app-name{
        font-size: 40px;
    }
}

.app-input{
    text-align: center;
}

#search-bar{
    width: 30vw;
    border-style: none;
    padding: 15px 20px;
    margin: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 300;
}
@media screen and (max-width: 600px){
    #search-bar{
        width: 120vw;
        padding: 20px 30px;
        font-size: 20px;
    }
}

#submit-btn{
    background-color: black;
    margin: 0px;
    padding: 13px 20px;
    padding-bottom: 15px;
    padding-top: 14px;
    border-style: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
@media screen and (max-width: 600px){
    #submit-btn{
        padding: 22px 30px;
        padding-top: 25px;
    }
}
#submit-btn:hover{
    background-color: rgb(40, 39, 39);
}
input:focus{
    outline: none;
}

.user-info{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 60vw;
    margin: auto;
    padding-bottom: 3vw;
    margin-top: 3vw;
    border-radius: 10px;    
    overflow-wrap: normal;
    box-shadow: 1px 1px 5px rgb(104, 103, 103);
}

@media screen and (max-width: 600px){
    .user-info{
        flex-direction: column;
        width: 150vw;
        height: 110vw;
        align-items: center;
    }
}

.user-info-box:first-child{
    border-left: none;
}
.user-info-box:last-child{
    border-right: none;
}
.user-info-box{
    border-right: 1px solid rgb(86, 86, 86);
    padding-right: 10px;
    margin-top: 20px;
    height: 10vh;
    text-align: left;
    flex: 1; 
}
@media screen and (max-width: 600px){
    .user-info-box{
        border: none;
        text-align: center;
        font-size: 20px;
    }
}

.user-info-name{
    margin-left: 25px;
    font-weight: 700;
    font-size: 10px;
    color: rgb(104, 104, 104);
    letter-spacing: 2px;
}

.user-info-value{
    margin-left: 25px;
    margin-top: 8px;
    font-weight: bolder;
    font-size: larger;
}

